[tool.poetry]
name = "chancy"
version = "0.4.0"
description = ""
authors = ["Tyler Kennedy <tk@tkte.ch>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
psycopg = {extras = ["pool", "binary"], version = "^3.1.19"}
croniter = {version = "^2.0.5", optional = true}

[tool.poetry.extras]
cron = ["croniter"]


[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
pytest-postgresql = "^6.0.0"
pytest = "^8.2.0"
sphinx = "^7.3.7"
furo = "^2024.5.6"
pytest-cov = "^5.0.0"
sentry-sdk = "^2.3.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
